asgiref==3.11.1
boto3==1.42.71
botocore==1.42.71
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
dj-database-url==3.1.0
Django==6.0.2
django-allauth==65.14.3
django-bootstrap5==26.2
django-storages==1.14.6
gunicorn==25.0.3
idna==3.11
jmespath==1.1.0
oauthlib==3.3.1
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.11.0
