{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}{{ org_name|default:"CIO Central" }} — Create Channel{% endblock %}

{% block body_classes %}vh-100{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-100 h-100 align-items-center mt-5">
        <div class="d-flex flex-column align-items-start bg-body-secondary rounded py-4 mx-auto" style="width: 350px">
            <div class="d-flex flex-column ms-3 gap-2 align-items-start">
                <div class="d-flex flex-row gap-3 align-items-center">
                    <h3 class="my-0">Create Channel</h3><i class="bi bi-pencil"></i>
                </div>
                <form method="post" action="{% url "organization:create_channel" %}" autocomplete="off">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex flex-row gap-2 align-items-center">
                        <button class="btn btn-primary" type="submit" aria-label="Create Channel">
                            Create Channel
                        </button>
                        <a href="{% url "organization:home" %}" class="btn btn-outline-secondary" type="button" aria-label="Cancel">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}