{% extends 'base.html' %}

{% block title %}Executive Panel - CIO Central{% endblock %}

{% block content %}
    <div class="mx-3 mt-3 d-flex flex-column gap-3 align-items-start">

        <h1>Executive Panel</h1>

        {# Changed 'lg' to 'xl' and added 'flex-wrap' to prevent clipping #}
        <nav class="d-flex d-xl-inline-flex flex-column flex-xl-row flex-wrap align-self-stretch align-self-xl-start p-2 bg-body-tertiary rounded-4 gap-2" aria-label="Section navigation">
            <a href="{% url 'exec_panel:events:events' %}" class="btn {% if active_tab == 'events' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Events</a>
            <a href="{% url 'exec_panel:polls:polls' %}" class="btn {% if active_tab == 'polls' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Polls</a>
            <a href="{% url 'exec_panel:attendance:attendance' %}" class="btn {% if active_tab == 'attendance' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Attendance</a>
            <a href="{% url 'exec_panel:analytics:analytics' %}" class="btn {% if active_tab == 'analytics' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Analytics</a>
            <a href="{% url 'exec_panel:roster:roster' %}" class="btn {% if active_tab == 'roster' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Roster</a>
            {% if user.is_owner %}
                <a href="{% url 'exec_panel:organization-edit:index' %}" class="btn {% if active_tab == 'organization-edit' %}bg-body shadow-sm text-body{% else %}text-body-secondary{% endif %} border-0 px-4 px-xl-5 py-2 fs-5 fw-medium rounded-3">Organization</a>
            {% endif %}
        </nav>

        {% block tab %}
        {% endblock %}
    </div>
{% endblock %}